/* Imports */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: wrap;
}

.hero {
    height: 750px;
    width: 100vw;
    background-color: black;
    border-bottom-right-radius: 20rem;
}

.logo {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
}

.nav-original ul li {
    list-style: none;
    display: inline;
    float: right;
    margin-right: 4rem;
    margin-top: 33px;
    font-size: 1.15rem;
    color: white;
}

ul li a {
    color: white;
    text-decoration-line: none;
    list-style: none;
}

.b-hover:hover {
    border-bottom: 5px solid white;
}

.nav-collapsed {
    visibility: hidden;
}

.nav-collapsed ul {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: inherit;
    list-style: none;
    padding: 1.25rem 1.25rem;
    line-height: 2.5rem;
    color: white;
    backdrop-filter: blur(10px);
    font-size: x-large;
    z-index: 20;
}


.cloud {
    float: right;
    position: absolute;
    right:0;
    top: 105px;
    width: 8rem;
    height: 8rem;
}

.menu {
    display: none;
}

.toggle .nav-collapsed.active{
    width: auto;
    height: auto; 
}

@media screen and (max-width: 1024px){
    .menu {
        display: flex;
        visibility: visible;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        background-color: white;
    }
    .nav-original {
        display: none;
    }
    .nav-collapsed.active{
        display:block;
        visibility: visible;
    }

    .nav-collapsed.active li:hover {
        background-color: grey;
        padding: fill;
    }

}

.cloud {
    width: 45rem;
    height: 30rem;
    margin-right: 8rem;
    left: 38rem;
}

@media screen and (max-width: 1200px) {
    .cloud {
        top: 10rem;
        left: 30rem;
        width: 30rem;
        height: 20rem;
    }
}

.hero-txt {
    font-size: 7rem;
    position: absolute;
    left: 3rem;
    top: 9rem;
    color: white;
}

@media screen and (max-width: 1024px) {
    .hero-txt {
        font-size: 5rem;
    }

    .cloud {
        width: 30rem;
        height: 20rem;
        left: 25rem;
    }

}

@media screen and (max-width: 750px) {
    .cloud {
        visibility: hidden;
    }

}

.hero-button {
    padding: 1.2rem 2.25rem;
    position: absolute;
    top: 35rem;
    left: 3rem;
    background-color: lightskyblue;
    color: black;
    font-size: 1.12rem;
    border-radius: 1.5rem;
    display: inline;
    text-decoration: none;
    width:auto;
}

.arrow {
    position: relative;
    margin-bottom: -8px;
}

.hero-button:hover{
    transform: translateX(5px);
    background-color: rgb(169, 219, 215);
}

/* Services Section */

.services {
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 10;
}

.serviceshead {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 4.8rem;
    font-size: 2.4rem;
}

.services-container {
    width: 100%;
    height: 80%;
    display: inline-flex;
    z-index: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-container .scone {
    border: 4px solid black;
    width: 300px;
    height:400px;
    position: relative;
    margin-bottom: 10%;
}

.scone:hover {
    transform: scale(1.25);
}

.scone .scone-head {
    background-color: burlywood;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.services-container .sctwo {
    border: 4px solid black;
    width: 300px;
    height:400px;
    position: relative;
    margin-bottom: 10%;
}

.sctwo:hover {
    transform: scale(1.25);
}

.sctwo .sctwo-head {
    background-color: lightgray;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.services-container .scthree {
    border: 4px solid black;
    width: 300px;
    height: 400px;
    position: relative;
    margin-bottom: 10%;
}

.scthree:hover {
    transform: scale(1.25);
}

.scthree .scthree-head {
    background-color: gold;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.webdev {
    position: relative;
    margin-left: 2rem;
    margin-top: 1.4rem;
    font-size: 1.3rem;
    align-items: center;
}

/* About Section */

.about {
    position: relative;
    height: 33rem;
    width: cover;
    background-color: black;
    place-items: contain;
    justify-content: space-around;
}

.about h1 {
    display: flex;
    width: 100%;
    color: white;
    font-size: 3.3rem;
    z-index: 10;
}

.aboutimg {
    display: flex;
    float: right;
    height: 33rem;
    width: 33rem; 
    margin-right: 8rem;   
}

.containlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    top: 6rem;
    width: 30rem;
    line-height: normal;
    margin-top: -7rem;
    position: absolute;
}

.aboutlist {
    position: relative;
    color: white;
    list-style: none;
    font-size: 2rem;
    flex-wrap: wrap;
    left:4rem;
    top: 7rem;
    z-index: 10;
}

.list-style-img {
    width: 45px;
    height: 45px;
    position: relative;
    left: -3rem;
    top: 2.4rem;
    display: inline-block;
    flex-wrap: nowrap;
    z-index: 30;
}

@media screen and (max-width: 1024px){


   .aboutbtn{
        display: flex;
        position: relative;
        float:left;
        flex-wrap: wrap;
        z-index: 40;
        top: 13rem;
    }

    .list-style-img {
        position: relative;
        left:-3rem;
    }

    .aboutlist {
        position: absolute;
        left: 4rem;
        top: 4rem;
    }


    @media screen and (max-width: 740px) {

        .list-style-img {
            position: relative;
            left: -2rem;
            display: inline-block;
            z-index: 0;
        }

        .aboutbtn {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            top: 15rem;
            left: 12rem;
            z-index: 40;
        }

        .aboutlist {
            line-height: 1.7rem;
            position: absolute;
            top: 6.5rem;
            overflow: wrap;
            left: 0rem;
            width: 280px;
        }
       
    }
}

 .aboutbtn {
    position: absolute;
    background-color: inherit;
    border: rgb(169, 219, 215) solid 8px;
    text-decoration: none;
    border-radius: 1rem;
    color: rgb(169, 219, 215);
    padding: 15px 20px;
    width:fit-content;
    display: flex;
    top: 28rem;
    left: 3.5rem;
    z-index: 40;
}

.aboutbtn:hover {
    color: black;
    background-color: lightblue;
}

/* Footer */

