/* Imports */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 750px;
    width: 100vw;
    background-image: url("../images/key7.jpg");
    border-bottom-right-radius: 20rem;
}

.logo {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
}

.nav-original ul li {
    list-style: none;
    display: inline;
    float: right;
    margin-right: 4rem;
    margin-top: 33px;
    font-size: 1.15rem;
    color: white;
}

ul li a {
    color: white;
    text-decoration-line: none;
    list-style: none;
}

.b-hover:hover {
    border-bottom: 5px solid white;
}

.nav-collapsed {
    visibility: hidden;
}

.nav-collapsed ul {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: inherit;
    list-style: none;
    padding: 1.25rem 1.25rem;
    line-height: 2.5rem;
    color: white;
    backdrop-filter: blur(10px);
    font-size: x-large;
    z-index: 20;
}


.cloud {
    float: right;
    align-items: center;
    position: absolute;
    right:0;
    top: 105px;
}

.menu {
    display: none;
}

.toggle .nav-collapsed.active{
    width: auto;
    height: auto; 
}

@media screen and (max-width: 1024px){
    .menu {
        display: flex;
        visibility: visible;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        background-color: white;
    }
    .nav-original {
        display: none;
    }
    .nav-collapsed.active{
        display:block;
        visibility: visible;
    }

    .nav-collapsed.active li:hover {
        background-color: grey;
        padding: fill;
    }

}

.cloud {
    width: 58vw;
    height: 70vh;
}

.hero-txt {
    font-size: 7rem;
    position: absolute;
    left: 4vh;
    top: 15vh;
    color: white;
}

@media screen and (max-width: 1024px) {
    .hero-txt {
        font-size: 5rem;
    }

}

@media screen and (max-width: 750px) {
    .cloud {
        visibility: hidden;
    }
}

.hero-button {
    padding: 1.2rem 2.25rem;
    position: absolute;
    top: 77vh;
    left: 8vw;
    background-color: lightskyblue;
    color: black;
    font-size: 1.12rem;
    font:400;
    border-radius: 1.5rem;
    display: inline;
    text-decoration: none;
}

.arrow {
    position: relative;
    margin-bottom: -8px;
}

.hero-button:hover{
    transform: translateX(5px);
    background-color: rgb(169, 219, 215);
}

/* Services Section */

.services {
    position: relative;
    height: auto;
    width: 100vw;
}

.serviceshead {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 4.8rem;
    font-size: 2.4rem;
}

.services-container {
    width: 100%;
    height: 80%;
    display: inline-flex;
    z-index: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-container .scone {
    border: 4px solid black;
    width: 300px;
    height:400px;
    position: relative;
    margin-bottom: 10%;
}

.scone .scone-head {
    background-color: lightgray;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.services-container .sctwo {
    border: 4px solid black;
    width: 300px;
    height:400px;
    position: relative;
    margin-bottom: 10%;
}

.sctwo .sctwo-head {
    background-color: lightgray;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.services-container .scthree {
    border: 4px solid black;
    width: 300px;
    height: 400px;
    position: relative;
    margin-bottom: 10%;
}

.scthree .scthree-head {
    background-color: lightgray;
    position: relative;
    top:0;
    height:25%;
    color: black;
    text-align: center;
}

.webdev {
    position: relative;
    margin-left: 15%;
    font-size: 1.4rem;
}

/* About Section */

.about {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    contain:content;
}

.about h1 {
    display: flex;
    float: right;
    margin-right: 21%;
    margin-top: 2%;
    color: white;
    font-size: 2.3rem;
}

.aboutimg {
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 10%;
}

.containlist{
    position:relative;
    top: 25%;
    left: 55%;
    width: auto;
    flex-wrap: wrap;
    line-height: 5rem;
}

.aboutlist li {
    color: white;
    list-style: none;
    font-size: 2rem;
    display: inline;
    flex-wrap: wrap;
}

.list-style-img {
    width: 45px;
    height: 45px;
    position: absolute;
    left:-4%;
    line-height: 2rem;
    display: inline-block;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1024px){

    .aboutlist {
        top: 4rem;
    }

    .containlist {
        position:absolute;
        line-height: 3.75rem;

    }

    .list-style-img {
        position: absolute;
        left:-18%;
    }

    @media screen and (max-width: 740px) {
        .containlist {
            position: absolute;
            left: 4rem;
            top: 50vh;
            height: 250px;
            font-size: 0.8rem;
            line-height: 2.75rem;
        }

        .list-style-img {
            position: absolute;
            left: -13%;
            display: inline-block;
        }
       
    }
}

 .aboutbtn {
    display: flex;
    line-height: 2.75rem;
    background-color: inherit;
    border: rgb(169, 219, 215) solid 8px;
    text-decoration: none;
    border-radius: 1rem;
    color: rgb(169, 219, 215);
    position: relative;
    top: 1rem;
    left: 6rem;
    padding: 0px 20px;
    width:fit-content;
}

.aboutbtn:hover {
    color: black;
    background-color: lightblue;
}

