<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="global, sage, tech, SaaS, software, company">
    <meta name="description" content="Global Sage Tech is a premier SaaS development firm seeking to optimize user experience and minimize costs.">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Web Development Services</title>
</head>
<body>
    <section class="hero">
        <header class="head">
            <div class="logo">
                <h1>Global Sage Tech</h1>
            </div>
            <nav class="nav-original">
                <ul>
                    <li><a href="#" class="items-original"><span class="b-hover">Contact Us</span></a></li>
                    <li><a href="#" class="items-original"><span class="b-hover">Legal</span></a></li>
                    <li><a href="#aboutlink" class="items-original"><span class="b-hover">About Us</span></a></li>
                    <li><a href="#serv" class="items-original"><span class="b-hover">Services</span></a></li>
                </ul>
            </nav>
            <div class="toggle">
                <img src="../static/images/grid-outline.svg" alt="" class="menu" width="40px" height="40px">
                <nav class="nav-collapsed">
                    <ul>
                        <li><a href="#serv" class="items-coll">Services</a></li>
                        <li><a href="#aboutlink" class="items-coll">About Us</a></li>
                        <li><a href="#" class="items-coll">Legal</a></li>
                        <li><a href="#" class="items-coll">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h1 class="hero-txt">Innovate <br> The <br> Future</h1>
        <img src="../static/images/cloud.png" alt="" class="cloud">
        <a class="hero-button" href="#aboutlink">
           <strong>Learn More <img alt="" class="arrow" src="../static/images/right.png"></strong> 
        </a>
    </section>
    <section class="services">
        <h1 class="serviceshead" id="serv">Our Services</h1>
        <div class="services-container">
            <div class="scone">
                <div class="scone-head">
                    <img alt="" src="../static/images/laptop.png" width="40px" height="40px">
                    <h1>Web Development</h1>
                </div>
                <ul class="webdev">
                    <li>Design & Development, unlimited edits and upgrades</li>
                    <li>Security, DDoS protection, Hosting, and more</li>
                    <li>Search Engine Optimization & Google Search Console</li>
                    <li>Marketing, Social Media Management, & Google Ads</li>
                </ul>
            </div>
            <div class="sctwo">
                <div class="sctwo-head">
                    <img alt="" src="../static/images/ecommerce.png" width="40px" height="40px">
                    <h1>Ecommerce</h1>
                </div>
                <ul class="webdev">
                    <li>All Web Development Plan Features, plus the following</li>
                    <li>Includes any website requiring a database and payment system</li>
                    <li>Database by PostgreSQL or MongoDB, payments via Helcim</li>
                    <li>Optional AI powered ecommerce with chatbots</li>
                </ul>
            </div>
            <div class="scthree">
                <div class="scthree-head">
                    <img alt="" src="../static/images/mobile.png" width="40px" height="40px">
                    <h1>Mobile/Desktop Apps</h1>
                </div>
                <ul class="webdev">
                    <li>All Ecommerce Plan Features, plus the following</li>
                    <li>IOS & Android native style and performance apps</li>
                    <li>Linux, MacOS, and Windows support for Desktop Apps</li>
                    <li>Can turn your small LLC into a major hit</li>
                </ul>
            </div>
        </div>

    </section>
    <section class="about">
        <h1 id="aboutlink">Why Global Sage Tech?</h1>
        <img class="aboutimg" src="../static/images/hack.png" alt="">
        <div class="containlist">
            <ul class="aboutlist">
                <li><img alt="" class="list-style-img" src="../static/images/neonblue.png"><p>We ensure 110% effort.</p></li>
                <li><img alt="" class="list-style-img" src="../static/images/neonblue.png"><p>We ensure 110% client satisfaction.</p></li>
                <li><img alt="" class="list-style-img" src="../static/images/neonblue.png"><p>We ensure 110% profit for your business.</p></li>
            </ul>
            <div class="btnplace">
                <a href="#contact" class="aboutbtn"><strong>Contact For Quote</strong></a>
            </div>
        </div>
    </section>
    
    
    <script src="../static/script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>