<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Web Development Services</title>
</head>
<body>
    <section class="hero">
        <header class="head">
            <div class="logo">
                <h1>Global Sage Tech</h1>
            </div>
            <nav class="nav-original">
                <ul>
                    <li><a href="#" class="items-original"><span class="b-hover">Contact Us</span></a></li>
                    <li><a href="#" class="items-original"><span class="b-hover">Legal</span></a></li>
                    <li><a href="#" class="items-original"><span class="b-hover">Pricing</span></a></li>
                    <li><a href="#" class="items-original"><span class="b-hover">Services</span></a></li>
                </ul>
            </nav>
            <div class="toggle">
                <img src="../static/images/grid-outline.svg" alt="" class="menu" width="40px" height="40px">
                <nav class="nav-collapsed">
                    <ul>
                        <li><a href="#" class="items-coll">Services</a></li>
                        <li><a href="#" class="items-coll">Pricing</a></li>
                        <li><a href="#" class="items-coll">Legal</a></li>
                        <li><a href="#" class="items-coll">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h1 class="hero-txt">Innovate <br> The <br> Future</h1>
        <img src="../static/images/cloud.png" alt="" class="cloud">
        <button class="hero-button">
           <strong>Learn More <img alt="" class="arrow" src="../static/images/right.png"></strong> 
        </button>
    </section>
    <section class="services">
        
    </section>
    
    <script src="../static/script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>